// Color Variables
$color-primary: #3046C5;
$color-secondary: #5637dd;
$color-pale: #CEC8FF;
$color-mid: #901CAD;
$color-dark: #60106b;
$color-black-transparent: rgba(0, 0, 0, 0.5);
$color-teal: #17A2B8;
$color-text: white;

// Font variables
$body-font: "Open Sans", sans-serif;
$header-font: "Lobster", cursive;

body {
    font-family: $body-font;
}

h1, h2, h3 {
    font-family: $header-font;
}

h2 {
    color: $color-primary;
}

header h2 {
    color: $color-pale;
}

a, a:hover {
    color: inherit; 
    text-decoration: none;
}

/*Classes*/

.jumbotron {
    margin: 0; 
    padding: 30px;
    background-image: linear-gradient(to right, $color-secondary, $color-primary, $color-dark);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: $color-mid;
}

.site-footer {
    background-image: linear-gradient($color-pale, white);
    padding: 20px 0;
}

.carousel-caption {
    background-color: $color-black-transparent;
}

.carousel {
    border: solid $color-secondary;
}

/*IDs*/

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

/* Nested Rules */

// Added nested rules for the Reserve and Login modals
#reserveModal, #loginModal {
    .modal-header {
        color: $color-text;
    }
}

// Specific rules for Reserve modal's modal-header
#reserveModal {
    .modal-header {
        background-color: $color-teal;
    }
}

// Specific rules for Login modal's modal-header
#loginModal {
    .modal-header {
        background-color: $color-mid;
    }
}